/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 3.5rem;
  /* Sun light Theme*/
  --bg-color: rgb(255, 243, 231);
  --text-color: rgb(54, 54, 54);
  --primary-color: rgb(255, 243, 231);
  --secondary-color: rgb(255, 243, 231);
  --menu-bg: rgb(255, 243, 231);
  --menu-text: rgb(255, 243, 231);
  --menu-text-hover: rgb(0, 90, 194);
  --menu-button-hover: rgb(0, 90, 194);
}
/*====  MENU ============================ */
header {
  width: 100%;
  max-width: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  height: 8rem;
  gap: 1.25rem;
  background-color: aquamarine;
  box-sizing: border-box;
  overflow: hidden;
}

div.nav-buttons {
  display: flex;
  gap: 0.5rem;
}

button.Arrow-Key {
  display: flex;
  background-color: aquamarine;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  transition:
    background-color 500ms ease,
    transform 3s ease;
}

button.Arrow-Key:hover {
  background-color: var(--menu-button-hover);
}

button.Arrow-Key:active {
  background-color: aquamarine;
}

nav {
  width: auto;
  display: flex;
  flex-grow: 1; /* Ocupa todo o espaço disponível sem estourar */
  align-items: center;
  gap: 1.25rem;
  background-color: #fbfbfb;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  background-color: #fbfbfb;
  padding-left: 2rem;
}

nav ul li a.menu {
  color: black;
  height: 2rem;
  display: flex;
  align-items: center;
  transition:
    color 500ms ease,
    transform 3s ease;
}

nav ul li a.menu:hover {
  color: var(--menu-text-hover);
}

div.search-conteiner input.search {
  width: 28rem;
  height: 2rem;
}
/*====  CONTENT ============================ */
body {
  margin: 1rem 1.25rem 4rem;
}
/*====  FOOTER ============================ */
